@model IEnumerable<MovieRentalWebApp.Models.Rental>
@{
    ViewBag.Title = "Rental List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Rental List</h3>
<hr />
@if (!Model.Any())
{
    <p>There is no customer registered!</p>
}
else
{
    <table id="rentalDetailList" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rentalDetail in Model)
            {
            <tr>
                <td>@Html.ActionLink(rentalDetail.Customer.Name, "Detail", "Rental", new { id = rentalDetail.Id }, null)</td>
                <td>@Html.ActionLink(rentalDetail.Movie.Name, "Detail", "Rental", new { id = rentalDetail.Id }, null)</td>                                
            </tr>
            }
        </tbody>
    </table>
}

