@{
    ViewBag.Title = "Movie Rental Store";
}

<hr />
<h4 class="center-block text-center">Welcome to my Web App</h4>
<hr />
<br />
<br />
<br />
<br />
<br />
<p>My Web App Endpoint Api's Are</p>
<p>GET:For Whole list https://localhost:44310/Api/Customer </p>
<p>GET:For Single Record https://localhost:44310/Api/Customer/id </p>
<p>GET:For Whole List https://localhost:44310/Api/Movie </p>
<p>GET:For Single Record https://localhost:44310/Api/Movie/id </p>