@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>404 - The Page can't be found</h2>
        </div>
            @Html.ActionLink("Go to homepage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</div>

@
