<appSettings>
  <!--This is where you should store your credentials like this -->
  <!--For Facebook Sign In-->
  <add key="FacebookAppId" value="343902040494814"/>
  <add key="FacebookAppSecret" value="60cb5b19e69da9523fab127decc2f86f"/>
  <!--For Google Sign In-->
  <add key="GoogleClientId" value="257000020475-i750eluq21nll8kvk9dvhff6eajjrk3q.apps.googleusercontent.com"/>
  <add key="GoogleClientSecret" value="VLfpKLSYYqQg9MEg7dQ5v6S5"/>


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>